
	ul {
  		margin: 0;
  		padding: 0;
  		overflow: hidden;
  		background-color: #333;
		}

	ul[name="top_navbar"]{
		list-style-type: none;
  		margin: 0;
  		padding: 15px;
  		overflow: hidden;
  		background-color: #0066EE;
  		align-items: center;

	}

	li[name="site_name"]{
		display: block;
  		text-align: center;
  		text-decoration: none;
		height: 26px;
    	width: 228px;
    	padding: 8px 25px 22px 15px;
    	color: #fff;
    	font-family: "YouTube Sans","Roboto",sans-serif;
    	font-size: 2rem;
    	line-height: normal;
    	font-weight: 600;
    	margin-top: 0px;
    	align-items: center;

	}

	div[name="search bar"]{
	    margin: 30px 50px 25px 60px;
	  padding: 0 4px;
    flex: 1;
    flex-basis: 1e-9px;
	}

	input[name="fname"]{
		width:500px;
	}

	li {
  		float: left;
  		text-decoration: none;

		}

	li a {
  			display: block;
  			color: white;
  			text-align: center;
  			padding: 14px 16px;
  			text-decoration: none;
		}

	/* Change the link color to #111 (black) on hover */
	li a:hover {
  			background-color: #111;
			}

		
		body {
  			background-color: #0f0f0f;
  			font-family: "YouTube Sans","Roboto",sans-serif;

      
			}
li[name="logOutli"]{
		float: right;
		border:0px; 
		padding:5px;
		background-color: #0066EE; 
	}

a[name="logOuta"]{
	padding: unset;
	border-radius: 20px;
	background-color: #0066EE; 
	color: #0066EE; 
}
button[name="logOutbtn"]{
	border:0px; 
	padding:5px;
	border-radius: 20px;
    color: #0f0f0f;
    background-color: white;

}

