{% extends "base.html" %}
{%block title%}Log In{% endblock%}
{% block style%}
h4{
	color:whitesmoke;
	padding: 20px 1px 1px 184px;
}
{% endblock%}
{%block content%}
<h1>Login</h1>
<div id="container">
	<form  action="{{ url_for('log_in')}}" method="post">
		<div>
			<h1>Log in to YourFitnessFriend</h1> 
		</div>
		<div>
			<input type="text" name="username" placeholder="Enter username">
		</div>
		<div>
			<input type="password" name="password" placeholder="Enter password">
		</div>
		<input type="submit" value="Log In">
	</form>
</div>
{%if flag==1%}
<h4>Incorrect Password</h4>
{%endif%}
{%if flag==2%}
<h4>User Not Found</h4>
{%endif%}
{% endblock%}