{% extends "base.html" %}
{%block title%}Sign Up{% endblock%}
{% block style%}
form{
	padding: 45px;
    color: white;
    margin: auto;
    margin-top: 40px;
	
}

div[name="UsersInDB"]
{
	margin:20px;
}
.MainDivSU{
		border:50px;
      	align-items: center;
      	background-image: linear-gradient(rgb(51, 51, 51, 0.9), rgb(51, 51, 51, 0.9)), url({{ url_for("static", filename="SUPpg.jpg") }});
    
    padding-top: 50px;
    padding-left: 50px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
input {
    
    border-radius: 50px;
    padding: 5px;
    margin: 5px;
    color: black;
}
button{
	
	border-radius: 50px;
    padding: 5px;
    margin: 5px;
    color: black;
}
body,html{
	height:100%;
}
{%endblock%}
{% block content%}
<div class="MainDivSU">
<form action="{{ url_for('sign_up')}}" method="post">
		<div style="color: white;">
			<h1>Sign Up for FitJournal</h1> 
		</div>
		<div class="name_box">
			<label>Username</label>
			<input type="text" name="username" placeholder="Enter username">
		</div>
		<div>
			<label>Password</label>
			<input type="password" name="password" placeholder="Enter password">
		</div>
	
		<button type="submit" value="Submit" >Submit</button>
</form>
</div>
<div name="UsersInDB">
{%for our_user in our_users%}
{{our_user.id}}  {{our_user.name}} - {{our_user.email}}
{%endfor%}
</div>
{% endblock%}